	body {
		background-image: url("images/usflag.jpg");
		background-size: cover;
	}

	#wrapper {
		position: absolute;
		width: 90%;
		padding: 2% 5% 5% 5%;
	}

	h1,  h2 {
		margin-top: 0;
		text-align: center;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}

	#playAgain {
		margin-top: 2rem;
		display: none;
	}

	#track1, #track2 {
		position: relative;
		height: 10rem;
		border: solid medium #000000;
		background-color: #FFFFFF;

	}

	#track1 {
		margin-bottom: 2rem;
	}

	#track2 {
	}

	#car1, #car2 {
		position: relative;
		width: 8rem;
		height: 80%;
		top: 1rem;
		left: 1rem;
	}

	img {
		height: 100%;
	}

	#winLose1, #winLose2 {
		display: none;
		background-color: black;
		color: white;
		height: 100%;
		font-size: 9rem;
		text-align: center;
	}